Repository triarc/website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website:build-web, website:build-api, website:docker-push-api

website:build-web:
  stage: build
  timeout: 10m
  script:
  - npm ci
  - npm run build

website:build-api:
  stage: build
  timeout: 10m
  script:
  - cd api
  - npm ci
  - npm run build

website:docker-push-api:
  tags:
  - shell
  - dedicated
  stage: push
  timeout: 10m
  script:
  - cd api
  - ./scripts/build-docker.sh
  - ./scripts/push-docker.sh
  variables:
    TAG: $CI_COMMIT_REF_SLUG

chore: rules
  .gitlab-ci.yml
Due: website:docker-push-api

feat: adjusted docker build and push scripts
  api/scripts/build-docker.sh
  api/scripts/push-docker.sh
Due: website:build-web, website:build-api

fix: gitlab ci yaml syntax
  .github/workflows/push.yaml
  .gitlab-ci.yml
Due: website:docker-push-api

chore: prettier
  .gitlab-ci.yml
Due: website:docker-push-api

chore: trigger webhook
  .github/workflows/push.yaml
Due: none

fix: docker push script
  api/scripts/push-docker.sh
Due: website:build-web, website:build-api

fix: script variable
  api/scripts/build-docker.sh
  api/scripts/push-docker.sh
Due: website:build-web, website:build-api

fix: updated docker scripts, github actions
  .github/workflows/push.yaml
  .gitlab-ci.yml
  api/scripts/build-docker.sh
  api/scripts/push-docker.sh
Due: website:build-web, website:build-api, website:docker-push-api

chore: fix url
  api/scripts/push-docker.sh
Due: website:build-web, website:build-api

fix: url
  api/scripts/push-docker.sh
Due: website:build-web, website:build-api

fix: commented out gitlab pipeline
  .gitlab-ci.yml
Due: website:docker-push-api

fix: cleanup ci
  .gitlab-ci.yml
Due: website:docker-push-api

fix: updated team, added special sort for bucky
  src/lib/index/TeamMembers.svelte
Due: none

remove embla
  package-lock.json
  package.json
  src/lib/components/ReferenceProjectMobile.svelte
Due: none

Update src/lib/components/MediaQuery.svelte
  src/lib/components/MediaQuery.svelte
Due: none

Update src/lib/components/ApplicationForm.svelte
  src/lib/components/ApplicationForm.svelte
Due: none

Update src/lib/components/NavDropDownItem.svelte
  src/lib/components/NavDropDownItem.svelte
Due: none

Update src/lib/components/Video.svelte
  src/lib/components/Video.svelte
Due: none

fix build issue
  package-lock.json
  package.json
  src/lib/components/ApplicationForm.svelte
Due: none

prettier
  .vscode/tasks.json
  src/lib/components/ApplicationForm.svelte
  src/lib/components/Block.svelte
  src/lib/components/BlogPostFeatures.svelte
  src/lib/components/Button.svelte
  src/lib/components/ContactForm.svelte
  src/lib/components/Container.svelte
  src/lib/components/Dropzone.svelte
  src/lib/components/Header.svelte
  src/lib/components/Hero.svelte
  src/lib/components/MediaQuery.svelte
  src/lib/components/NavDropDown.svelte
  src/lib/components/NavDropDownItem.svelte
  src/lib/components/NerdToggle.svelte
  src/lib/components/ReferenceProjectDesktop.svelte
  src/lib/components/ReferenceProjectMobile.svelte
  src/lib/components/Video.svelte
  src/lib/components/VideoSmall.svelte
  src/lib/index/EnhancedImage.svelte
  src/lib/index/Testimonials.svelte
  src/routes/consulting/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/jobs/[slug]/+page.svelte
  src/routes/lab/+page.svelte
  src/routes/stories/+page.svelte
  src/routes/stories/[slug]/+page.svelte
Due: none

fix carousel
  src/lib/components/ReferenceProjectMobile.svelte
Due: none

wip: new landing page
  src/lib/components/SectionCard.svelte
  src/lib/components/TypeDefinitions.ts
  src/lib/index/Landing.svelte
Due: none

fix: nav dropdown clickable when closed
  src/lib/components/NavDropDown.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: none

feat: landing page layout
  .npmrc
  src/lib/assets/icons/arrow-right-light-full.svg
  src/lib/assets/icons/gear-light-full.svg
  src/lib/assets/icons/puzzle-piece-light-full.svg
  src/lib/assets/icons/rocket-launch-light-full.svg
  src/lib/components/Icon.svelte
  src/lib/components/SectionCard.svelte
  src/lib/components/TypeDefinitions.ts
  src/lib/index/Landing.svelte
  tailwind.config.cjs
Due: none

chore: lint
  src/routes/team/+page.svelte
Due: none

fix: navbar eating hero space
  src/routes/+layout.svelte
Due: none

fix: fixed nav hover highlighting, fixed nav svg not being part of button on close, fixed nav phantom links, removed nav inline option
  src/lib/components/NavDropDown.svelte
  src/lib/components/NavDropDownItem.svelte
Due: none

refactor: move content to separate ts file
  src/lib/content/landing-page.ts
  src/lib/index/Landing.svelte
Due: none

wip: mission page
  src/lib/assets/img/landing/rainbow-underline.svg
  src/lib/components/GradientDivider.svelte
  src/lib/index/LandingMission.svelte
  src/routes/+page.svelte
Due: none

wip: mission page components
  src/lib/components/Button.svelte
  src/lib/components/GradientDivider.svelte
  src/lib/components/TypeDefinitions.ts
  src/lib/index/LandingMission.svelte
Due: none

feat: desktop layout for new landing page mission content
  src/lib/components/GradientDivider.svelte
  src/lib/components/TypeDefinitions.ts
  src/lib/content/landing-page.ts
  src/lib/index/LandingMission.svelte
Due: none

refactor: remove inline from navbar since it will not be used going forward
  src/lib/components/NavDropDown.svelte
  src/lib/components/NavDropDownItem.svelte
Due: none

fix: spacing, new highlight color, new fontawesome icons for quote
  src/lib/assets/icons/envelope-solid-full.svg
  src/lib/assets/icons/square-linkedin-brands-solid-full.svg
  src/lib/components/BlockContentBlocks/QuoteBlock.svelte
  src/lib/components/TypeDefinitions.ts
  src/lib/content/landing-page.ts
  src/lib/index/LandingMission.svelte
  tailwind.config.cjs
Due: none

feat: made responsive, adjusted nav behaviour
  src/lib/components/Button.svelte
  src/lib/components/GradientDivider.svelte
  src/lib/components/NavDropDown.svelte
  src/lib/components/NavDropDownItem.svelte
  src/lib/components/SectionCard.svelte
  src/lib/index/Landing.svelte
  src/lib/index/LandingMission.svelte
  src/routes/+layout.svelte
Due: none

chore: lint/prettier
  src/lib/components/BlockContentBlocks/QuoteBlock.svelte
  src/lib/components/Button.svelte
  src/lib/components/GradientDivider.svelte
  src/lib/components/Icon.svelte
  src/lib/components/NavDropDown.svelte
  src/lib/components/NavDropDownItem.svelte
  src/lib/components/SectionCard.svelte
  src/lib/components/TypeDefinitions.ts
  src/lib/index/Landing.svelte
  src/lib/index/LandingMission.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: none

wip: project subsections with sticky header
  src/lib/assets/img/strategy/TeamWerkExample.png
  src/lib/components/Button.svelte
  src/lib/components/Icon.svelte
  src/lib/components/ProjectCard.svelte
  src/lib/components/ProjectStickyTitle.svelte
  src/lib/components/TypeDefinitions.ts
  src/routes/strategy/+page.svelte
Due: none

feat: template for new sites
  src/lib/components/Button.svelte
  src/lib/components/Icon.svelte
  src/lib/components/ProjectCard.svelte
  src/lib/components/ProjectStickyTitle.svelte
  src/lib/components/TypeDefinitions.ts
  src/lib/content/strategy-section.ts
  src/lib/index/ThemedSection.svelte
  src/lib/stores/layoutStore.ts
  src/routes/strategy/+page.svelte
Due: none

feat: added dummy content and set up pages
  src/lib/components/GradientDivider.svelte
  src/lib/components/Icon.svelte
  src/lib/components/ProjectStickyTitle.svelte
  src/lib/components/TypeDefinitions.ts
  src/lib/content/future-section.ts
  src/lib/content/landing-page.ts
  src/lib/content/operations-section.ts
  src/lib/index/ThemedSection.svelte
  src/routes/future/+page.svelte
  src/routes/operations/+page.svelte
  src/routes/strategy/+page.svelte
Due: none

wip: Project page components
  src/lib/assets/img/TeamWerk_DetailImage.png
  src/lib/components/TypeDefinitions.ts
  src/lib/content/icons.ts
  src/lib/index/TriarcProject.svelte
  src/routes/operations/teamwerk/+page.svelte
Due: none

Path conditions:
  website:build-web: any of: api/**/*
  website:build-api: any of: api/**/*
  website:docker-push-api: any of: .gitlab-ci.yml
